In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("cars.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.columns

# problems
#### 1. year col. is in object and also contain many garbage vals
#### 2. price col. is also in object, little cleaning, and garbage vals
#### 3. kms_driven is in object, contain nan values
#### 4. fuel has nan values
#### 5. keep first three words in name

In [ ]:
df['year'].unique()

In [ ]:
df['Price'].unique()

In [ ]:
df['kms_driven'].unique()

In [ ]:
df['fuel_type'].unique()

In [ ]:
df['name'].unique()

# cleaning the data

In [ ]:
back_up = df.copy()

In [153]:
df = back_up

In [154]:
# year columns
# need to keep numeric data

df = df[df['year'].str.isnumeric()]
df['year'] = df['year'].astype(int)

C:\Users\Tanmay\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [155]:
# price column

# remove garbage
df = df[df['Price']!='Ask For Price']

# remove commas
df['Price'] = df['Price'].str.replace(",", "")

# change the dtype
df['Price'] = df['Price'].astype(int)

In [156]:
# kms_driven column

df['kms_driven'].unique()
#  contain 1 garbage value "Petrol"

df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0)
df['kms_driven'] = df['kms_driven'].str.replace(',', '')
df = df[df['kms_driven'].str.isnumeric()]
df['kms_driven'] = df['kms_driven'].astype(int)

In [157]:
# fuel
df['fuel_type'].unique()

# drop nan
df = df[~df['fuel_type'].isna()]

In [158]:
# name column

#  we will keep first 3 values
df['name'].unique()
df['name'] = df['name'].str.split(' ').str.slice(0, 3).str.join(' ')

In [159]:
df.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
sns.boxplot(df['Price'])

In [ ]:
print("the median value is ", np.median(df['Price']))
print("the 25 percentile value is ", df['Price'].quantile(0.25))
print("the 75 precentile value is ", df['Price'].quantile(0.75))

In [160]:
# we have a outlier in price column
print(df[df['Price']>6e6])
print("the outlier is ", max(df['Price']))
df = df[df['Price']<6e6].reset_index(drop=True)

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel
the outlier is  8500003

In [165]:
df.to_csv('cleaned_car.csv')